%header.navbar.up
  %nav
    %ul.nav
      %li= link_to "Nasz Autorski Program Edukacyjny", autorski_path
      %li= link_to "Pedagogika M. Montessorii", pedagogika_path
      %li= link_to "Kadra",
        kadra_path
      %li= link_to "Adaptacja",
        adaptacja_path