= provide(:title, 'O nas')
%h1 O nas

= link_to "Nasz Autorski Program Edukacyjny", naszautorskiprogram_path

%h2 1. CO WARTO O NAS WIEDZIEĆ

%p „Kubusiowy Raj” jest żłobkiem edukacyjnym, zapewniającym dociekliwym istotkom w wieku niemowlęcym i poniemowlęcym (od 5 miesiąca do 3 roku życia) opiekę pełną troskliwości,  uśmiechu i cierpliwości, a także mądrą stymulację i szansę na kreatywny rozwój.

%p Zatrudniamy wykwalifikowany personel, odpowiednio przygotowany do pełnienia tak odpowiedzialnej funkcji, jaką jest towarzyszenie Państwa Pociechom w odkrywaniu siebie i świata.
%p Zapewniamy Państwa pociechom zdrowe, smaczne posiłki. Śniadania, drugie śniadania i podwieczorki przygotowuje  Nasza Ciocia Grażynka, zaś dwudaniowe obiady dowożone są przez sprawdzony catering. Uwględniamy wszelkie wskazania dietetyczne
%p Realizujemy AUTORSKI PROGRAM EDUKACYJNY,  który w sposób uwzględniający prawidła rozwojowe, jak również indywidualne predyspozycje Państwa Pociech, stymuluje, uczy, pobudza do eksplorowania świata. Czerpiemy z różnych metod, takich jak: Kinezjologia Edukacyjna, Metoda Ruchu Rozwijającego W. Sherborne, Program Aktywności Słuchowej Knillów, Pedagogika Zabawy Klanzy. Proponujemy dzieciom codzienne czytanie mądrych bajek,  zabawy paluszkowe i aktywności plastyczne, stymulujące motorykę małą, jak również ćwiczenia muzyczno- ruchowe z elementami integracji sensorycznej. W codzienne zajęcia wplatamy także słowa zaczerpnięte z języka angielskiego i francuskiego. Wiemy bowiem, jak chłonne są umysły Państwa Pociech.
%p Potrafimy  jednak znaleźć „złoty środek” między odpoczynkiem, mądrą stymulacją, zabawą swobodną i kierowaną.
%p Stwarzamy Maluchom odpowiednie warunki do nabywania umiejętności w zakresie samoobsługi, świadomości własnego ciała.
%p Wiemy, że Maluszki potrzebują głównie ciepła, poczucia bezpieczeństwa, cierpliwości, a ponad wszystko otwartości na wysyłane przez nich sygnały.
%p Uwielbiamy obserwować dzieci podczas  swobodnej zabawy, bo taka obserwacja to „kopalnia wiedzy” o ich potrzebach, predyspozycjach, fascynacjach, mocnych i słabych stron. Zdobyte taką drogą informacje stanowią dla nas bazę do indywidualizowania oddziaływań wychowawczych i edukacyjnych.
%p Współpracujemy z instruktorem rytmiki, logopedą i psychologiem.

%p.lead
  Zastanawiają się Państwo, jak można „kształcić” takie małe istotki? Jak mogą wyglądać zajęcia dla takich maluchów? Już śpieszymy z odpowiedzią.

%p Odpowiednio zaaranżowaliśmy otaczającą je przestrzeń. Wyposażyliśmy ją w „mądre zabawki”, zachęcające do dociekania, odkrywania prawideł metodą „prób i błędów”,  Wdrażamy w życie autorski program edukacyjny, zapoznający dzieci z bogactwem otaczającego świata.(Więcej o programie w zakładce AUTORSKI PROGRAM EDUKACYJNY). Codziennie proponujemy dzieciom proste, całkowicie bezpieczne eksperymenty fizyczno- chemiczne, zapoznajemy je z dostosowanymi do ich możliwości i wieku, piosenkami i wierszykami, w których „przemycamy słówka francuskie i angielskie”. Natomiast naturalny w tym wieku „głód ruchu” maluchy zaspokajają podczas harców na dużym, odpowiednio przystosowanym i kreatywnie wyposażonym placu zabaw.
%p Pobudzamy dzieci do doskonalenia umiejętności  z zakresu samoobsługi, samodzielności, do odkrywania swoich potrzeb emocji, uczymy współistnienia w grupie rówieśniczej, uwrażliwiamy na kontakty z naturą i drugim człowiekiem.
%p Nie zapominamy także o kojącej muzyce, która towarzyszy maluchom zarówno podczas zabawy, jak i zasypiania. Wierzymy bowiem, iż „Muzyka jest stenografią uczuć” i „balsamem dla duszy”. U Nas Państwa Pociechy będą słuchać muzyki z różnych stron świata, śpiewać, tańczyć, akompaniować na wykonanych przez siebie bębenkach i grzechotkach.
%p Codziennie zapraszamy także maluchy w fascynującą podróż do świata bajek,  bo "Książka - to mistrz, co darmo nauki udziela, kto ją lubi - doradcę ma i przyjaciela, który z nim smutki dzieli, pomaga radości, chwilę nudów odpędza, osładza cierpkości."

%h2 3. ADAPTACJA

%p Wiemy, jak trudno Maluchom rozstać się z ukochanymi Rodzicami, proponujemy zatem łagodną adaptację. Przez pierwszy tydzień pobytu Państwa pociech w naszym żłobku zapraszamy na zajęcia także Państwa. Pozwalamy, by Państwo sami zdecydowali, jak przebiegać będzie proces rozłąki Państwa z maluszkami. Oczywiście, chętnie wesprzemy Państwa radą i wskazówkami.

%h1 PEDAGOGIKA M. MONTESSORI

%h2 CO CZERPIEMY Z PEDAGOGIKI M. MONTESSORI?

%p Towarzysząc Państwa dzieciom w codziennym wzrastaniu, czerpiemy z założeń i filozofii Pedagogiki M. Montessori. Wierzymy bowiem w wartość pobudzania dzieci do samodzielności,niezależności i wewnątrzsterowności.

%p Pragniemy podążać za dziećmi, wnikliwie je obserwować, dostosowywać nasze oddziaływania do ich indywidualnych predyspozycji, potrzeb oraz preferencji. U nas mają szansę uczestniczyć w MONTESSORIAŃSKIEJ PRACY WŁASNEJ, której długość dostosowujemy do ich możliwości i wieku. Dzieci przesypują ryż, przelewają wodę, uczą się prawidłowego chwytu, ćwiczą koncentrację uwagi i samokontrolę. My - nauczycielki czuwamy, ale im nie przeszkadzamy. Proponujemy dzieciom zajęcia w kręgu, lekcje ciszy, a przede wszystkim wiele okazji do samodzielnej eksploracji i odkrywania świata, jak również do doskonalenia umiejętności samoobsługowych. Oczywiście szanujemy ich potrzebę odpoczynku, wewnętrzną odporność i do niczego maluszków nie zmuszamy!:)

%p Załączyliśmy artykuły pochodzące z Polskiego Intstytutu Montessori, do zapoznania z którymi szczerze Państwa zapraszamy. Warto też, naszym zdaniem, odwiedzić stronę www.montessori.pl oraz stronę Polskiego Instytutu Montessori www.montessori.info.pl.

%blockquote Przyszły pedagog, który będzie się interesował sprawami ludzkości, musi wytworzyć między sobą, a tymi, których obserwuje, silny łącznik.”

%blockquote Pobudzać życie, pozostawiając je przy tym swobodnym, takie jest zadanie wychowawcy.

%blockquote Dziecko może dobrze się rozwijać tylko wtedy, gdy pomoc udzielana jest mu w stosownej formie.

%blockquote Naszym, dorosłych, zadaniem, jest nie nauczać, ale wspierać umysł dziecka w pracy nad samorozwojem.

%blockquote Wpatrywałam się w nie, doszukując się zagadki duszy dziecięcej, która była mi nieznana; stałam wśród nich, pogrążona w rozmyślaniach i zaskoczona odkryciem, że dzieci dążą do wiedzy instynktownie i bynajmniej nie dbają o zabawę bezmyślną. O, jakaż jest głębia ducha ludzkiego!

%blockquote Znikła dawna nauczycielka, która z wielkim trudem utrzymywała porządek, polegający na unieruchomieniu dzieci, i zrywała sobie płuca przez rozmowy bez końca. Została ona zastąpiona przez przyrządy do nauczania, dzięki którym uczeń może naprawiać swe błędy i sam się kształcić. Cierpliwa i milcząca nauczycielka kieruje jedynie samodzielną pracą dzieci.


%h1 Kadra
%h2 AGNIESZKA REMISZEWSKA- DYREKTOR

%p Ukończyłam dzienne jednolite studia magisterskie na Akademii Pedagogiki Specjalnej (kierunek: pedagogika specjalna; specjalności: terapia pedagogiczna oraz pedagogika opiekuńczo-socjalna). Jestem pedagogiem, nie tylko z profesji, ale przede wszystkim z pasji i powołania. Wprowadzanie dzieci w przedszkolny świat łączę z towarzyszeniem dzieciom dotkniętym autyzmem, zespołem Aspergera, dysleksją, ADHD i prowadzeniem z nimi indywidualnych terapii. Nie zapominam również o ich rodzicach i im także proponuję swoje wsparcie.

%p Bliskie są mi założenia montessoriańskie, dlatego rozpoczęłam Kurs Pedagogiki M. Montessorii. Głęboko wierzę w potencjał tkwiący w małych istotkach, którym towarzyszę oraz w konieczność indywidualizacji podejmowanych działań edukacyjno-wychowawczych. Wiem, jak ważny jest holistyczny rozwój dzieci, dlatego czerpię z różnych metod (m.in. Kinezjologii Edukacyjnej, W. Sherborne, zabaw paluszkowych, Programu Aktywności Słuchowej Knillów, Pedagogiki Zabawy czy muzykoterapii). Kocham muzykę i dzielę się swą pasją z dziećmi, zachęcając je do wspólnego śpiewania. Wierzę, że dzieci są cudownymi przewodnikami po świecie szczerych emocji, prawdziwej radości i niezwykłych pomysłów, dlatego pokornie wybieram się z Nimi w codzienne podróżowanie i odkrywanie świata. A jakie jest moje pedagogiczne credo? Oto one....

%blockquote
  %p Dziecko może nauczyć dorosłych trzech rzeczy:
  %p cieszyć się bez powodu,
  %p być ciągle czymś zajętym
  %p i domagać się - ze wszystkich sił - tego,
  %p czego pragnie. Paulo Coelho