= provide(:title, 'O nas')

= render 'aboutheader'

.hero-unit

  %h1 O nas

  %h2 Co warto o nas wiedzieć

  %p „Kubusiowy Raj” jest żłobkiem edukacyjnym, zapewniającym dociekliwym istotkom w wieku niemowlęcym i poniemowlęcym (od 5 miesiąca do 3 roku życia) opiekę pełną troskliwości,  uśmiechu i cierpliwości, a także mądrą stymulację i szansę na kreatywny rozwój.

  %p Zatrudniamy wykwalifikowany personel, odpowiednio przygotowany do pełnienia tak odpowiedzialnej funkcji, jaką jest towarzyszenie Państwa pociechom w odkrywaniu siebie i świata.
  %p Zapewniamy Państwa pociechom zdrowe, smaczne posiłki. Śniadania, drugie śniadania i podwieczorki przygotowuje  Nasza Ciocia Grażynka, zaś dwudaniowe obiady dowożone są przez sprawdzony catering. Uwględniamy wszelkie wskazania dietetyczne
  %p
    Realizujemy
    =link_to "nasz autorski program edukacyjny", autorski_path
    który w sposób uwzględniający prawidła rozwojowe, jak również indywidualne predyspozycje Państwa pociech, stymuluje, uczy, pobudza do eksplorowania świata. Czerpiemy z różnych metod, takich jak: Kinezjologia Edukacyjna, Metoda Ruchu Rozwijającego W. Sherborne, Program Aktywności Słuchowej Knillów, Pedagogika Zabawy Klanzy. Proponujemy dzieciom codzienne czytanie mądrych bajek,  zabawy paluszkowe i aktywności plastyczne, stymulujące motorykę małą, jak również ćwiczenia muzyczno- ruchowe z elementami integracji sensorycznej. W codzienne zajęcia wplatamy także słowa zaczerpnięte z języka angielskiego i francuskiego. Wiemy bowiem, jak chłonne są umysły Państwa pociech.
  %p Potrafimy  jednak znaleźć „złoty środek” między odpoczynkiem, mądrą stymulacją, zabawą swobodną i kierowaną.
  %p Stwarzamy Maluchom odpowiednie warunki do nabywania umiejętności w zakresie samoobsługi, świadomości własnego ciała.
  %p Wiemy, że Maluszki potrzebują głównie ciepła, poczucia bezpieczeństwa, cierpliwości, a ponad wszystko otwartości na wysyłane przez nich sygnały.
  %p Uwielbiamy obserwować dzieci podczas  swobodnej zabawy, bo taka obserwacja to „kopalnia wiedzy” o ich potrzebach, predyspozycjach, fascynacjach, mocnych i słabych stron. Zdobyte taką drogą informacje stanowią dla nas bazę do indywidualizowania oddziaływań wychowawczych i edukacyjnych.
  %p Współpracujemy z instruktorem rytmiki, logopedą i psychologiem.

  %p.lead
    Zastanawiają się Państwo, jak można „kształcić” takie małe istotki? Jak mogą wyglądać zajęcia dla takich maluchów? Już śpieszymy z odpowiedzią.

  %p
    Odpowiednio zaaranżowaliśmy otaczającą je przestrzeń. Wyposażyliśmy ją w „mądre zabawki”, zachęcające do dociekania, odkrywania prawideł metodą „prób i błędów”,  Wdrażamy w życie autorski program edukacyjny, zapoznający dzieci z bogactwem otaczającego świata.(Więcej o programie w zakładce
    = succeed "." do
      =link_to "nasz autorski program edukacyjny", autorski_path
    Codziennie proponujemy dzieciom proste, całkowicie bezpieczne eksperymenty fizyczno- chemiczne, zapoznajemy je z dostosowanymi do ich możliwości i wieku, piosenkami i wierszykami, w których „przemycamy słówka francuskie i angielskie”. Natomiast naturalny w tym wieku „głód ruchu” maluchy zaspokajają podczas harców na dużym, odpowiednio przystosowanym i kreatywnie wyposażonym placu zabaw.
  %p Pobudzamy dzieci do doskonalenia umiejętności  z zakresu samoobsługi, samodzielności, do odkrywania swoich potrzeb emocji, uczymy współistnienia w grupie rówieśniczej, uwrażliwiamy na kontakty z naturą i drugim człowiekiem.
  %p Nie zapominamy także o kojącej muzyce, która towarzyszy maluchom zarówno podczas zabawy, jak i zasypiania. Wierzymy bowiem, iż „Muzyka jest stenografią uczuć” i „balsamem dla duszy”. U nas Państwa pociechy będą słuchać muzyki z różnych stron świata, śpiewać, tańczyć, akompaniować na wykonanych przez siebie bębenkach i grzechotkach.
  %p Codziennie zapraszamy także maluchy w fascynującą podróż do świata bajek,  bo "Książka - to mistrz, co darmo nauki udziela, kto ją lubi - doradcę ma i przyjaciela, który z nim smutki dzieli, pomaga radości, chwilę nudów odpędza, osładza cierpkości."