= provide(:title, 'Adaptacja')
%h1 Adaptacja

%h2 --coś dostawić--

%p Wiemy, jak trudno Maluchom rozstać się z ukochanymi Rodzicami, proponujemy zatem łagodną adaptację. Przez pierwszy tydzień pobytu Państwa pociech w naszym żłobku zapraszamy na zajęcia także Państwa. Pozwalamy, by Państwo sami zdecydowali, jak przebiegać będzie proces rozłąki Państwa z maluszkami. Oczywiście, chętnie wesprzemy Państwa radą i wskazówkami.