- description ''
- keywords ''

= render 'aboutheader'

.hero-unit#page-about

  %h1= title 'Nasz Autorski Program Edukacyjny'

  %h2 Na czym on dokładnie polega?

  %p W naszym żłobku tydzień podzieliśmy na dni tematyczne:
  %table.program
    %thead
      %tr
        %th Dzień tygodnia
        %th Nazwa
    %tr
      %td(width="200px") Poniedziałek
      %td Dzień Zwierząt
    %tr
      %td Wtorek
      %td Dzień Kolorów
    %tr
      %td Środa
      %td Dzień Roślin
    %tr
      %td Czwartek
      %td Dzień Świadomości własnego ciała
    %tr
      %td Piątek
      %td Dzień przedmiotów znanych i nieznanych

  %p Każdego dnia proponujemy Państwa pociechom zajęcia ruchowe, muzyczne, językowe i plastyczne, związane z danym pojęciem. Przygotowując nasz program, czerpaliśmy z psychologii rozwojowej i naszych zawodowych doświadczeń. Ufamy,że w taki sposób wzbogacimy wiedzę Państwa pociech o świecie, rozwiniemy ich zmysły, a także pobudzimy ich rozwój językowy, ruchowy i poznawczy.

  %p
    = succeed '.' do
      Bliskie nam jest przesłanie Pedagogiki M. Montessorii, z której czerpiemy inspirację do codziennych działań wychowawczo-edukacyjnych. Więcej o Pedagogice M. Montessorii odnajdą Państwo w zakładce
      = link_to "Pedagogika M. Montessorii", pedagogika_path
