= provide(:title, 'Kontakt')
%h1 Kontakt

.pull-right
  <iframe width="500" height="500" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=+&amp;q=mazowiecka+24,+bobrowiec&amp;ie=UTF8&amp;hq=&amp;hnear=Mazowiecka+24,+05-502+Bobrowiec,+piaseczy%C5%84ski,+Mazowieckie,+Polska&amp;t=m&amp;ll=52.059404,20.966806&amp;spn=0.012665,0.027466&amp;z=15&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>

%address
  %strong Kubusiowy Raj Konrad Zawiślak <br>
  ul. Mazowiecka 24 <br>
  05-502 Bobrowiec

%p
  tel. do Pani Dyrektor 881 589 599 <br>
  tel. do właściciela 505 106 699

%p
  adres e-mail:
  <a href="mailto:biuro@zlobekkubusiowyraj.pl">biuro@zlobekkubusiowyraj.pl</a>

-# Formularz kontaktowy

%p
  nip: 123-102-01-15
  %br
  regon: 146001443

%p
  Nr konta:
  %br
  13 19500 00120 06027 90756 0002
  %br
  Bank: IDEA BANK S.A.
