= provide(:title, 'Kontakt')

.hero-unit#page-contact

  %h1 Kontakt
  %h2 Telefony
  #boxsimple
    <iframe width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=pl&geocode=&q=Mazowiecka+24,+Bobrowiec,+Polska&aq=0&oq=mazowiecka+24,&sll=52.063256,20.974059&sspn=0.015461,0.038581&t=h&ie=UTF8&hq=&hnear=Mazowiecka+24,+05-502+Bobrowiec,+piaseczy%C5%84ski,+Mazowieckie,+Polska&ll=52.060077,20.967321&spn=0.005277,0.008562&z=16&output=embed&iwloc=near"></iframe>
    %p.pull-right <a href="https://maps.google.com/maps?f=q&source=embed&hl=pl&geocode=&q=Mazowiecka+24,+Bobrowiec,+Polska&aq=0&oq=mazowiecka+24,&sll=52.063256,20.974059&sspn=0.015461,0.038581&t=h&ie=UTF8&hq=&hnear=Mazowiecka+24,+05-502+Bobrowiec,+piaseczy%C5%84ski,+Mazowieckie,+Polska&ll=52.060077,20.967321&spn=0.005277,0.008562&z=16&iwloc=near" style="color:#0000FF;text-align:left">Wyświetl większą mapę</a>
    -# <iframe width="400" height="400" src="https://maps.google.com/maps?f=q&source=s_q&hl=pl&geocode=+&q=mazowiecka+24,+bobrowiec&ie=UTF8&hq=&hnear=Mazowiecka+24,+05-502+Bobrowiec,+piaseczy%C5%84ski,+Mazowieckie,+Polska&t=m&ll=52.059404,20.966806&spn=0.012665,0.027466&z=15&output=embed&iwloc=near" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>

  .lol
    %address
      %p
        %strong Kubusiowy Raj Konrad Zawiślak <br>
        ul. Mazowiecka 24 <br>
        05-502 Bobrowiec

      %p
        %strong Dyrektor
        tel. 881 589 599

      %p
        %strong.tab Właściciel
        tel. 505 106 699

      %p
        %strong.tab e-mail:
        %strong <a href="mailto:biuro@zlobekkubusiowyraj.pl">biuro@zlobekkubusiowyraj.pl</a>

      -# Formularz kontaktowy

      %p
        %strong.tab NIP:
        123-102-01-15

      %p
        %strong.tab REGON:
        146001443

      %p
        %strong.tab Nr konta:
        13 1950 0001 2006 0279 0756 0002
      %p.span
        Bank: IDEA BANK S.A.


  -#
    .pull-right
      <iframe width="400" height="400" src="https://maps.google.com/maps?f=q&source=s_q&hl=pl&geocode=+&q=mazowiecka+24,+bobrowiec&ie=UTF8&hq=&hnear=Mazowiecka+24,+05-502+Bobrowiec,+piaseczy%C5%84ski,+Mazowieckie,+Polska&t=m&ll=52.059404,20.966806&spn=0.012665,0.027466&z=15&output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>

    .row.span5
      .row
        %address.span5
          %p
            %strong Kubusiowy Raj Konrad Zawiślak <br>
            ul. Mazowiecka 24 <br>
            05-502 Bobrowiec


        %p
          %strong Dyrektor
        %p tel. 881 589 599

        -#.row
        %p
          %strong Właściciel
        %p tel. 505 106 699


        -#.row
        %p
          %strong e-mail:
        %p
          %strong <a href="mailto:biuro@zlobekkubusiowyraj.pl">biuro@zlobekkubusiowyraj.pl</a>

        -# Formularz kontaktowy

        -#.row
        %p
          %strong NIP:
        %p
          123-102-01-15
        -#.row
        %p
          %strong REGON:
        %p
          146001443

      .row
        %p
          %strong Nr konta:
        %p.justify
          13 1950 0001 2006 0279 0756 0002
      %p.span
        Bank: IDEA BANK S.A.
