- description ''
- keywords ''

.hero-unit#page-gallery

  %h1= title 'Galeria Zdjęć'


  -#%ul
    %li
      %a(href="#nogo") Set 1
      %table
        %tr
          %td
            %ul
              %li
                %a.horiz(href="#portrait1" tabindex=1)
                %span
                  %img(src="slide/pic_1ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_1h.jpg" alt="" title="")
                %a.vert(href="#portrait2" tabindex=1)
                %span
                  %img(src="slide/pic_1va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_1v.jpg" alt="" title="")
                %a.vert(href="#portrait3" tabindex=1)
                %span
                  %img(src="slide/pic_2va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_2v.jpg" alt="" title="")
                %a.horiz(href="#portrait4" tabindex=1)
                %span
                  %img(src="slide/pic_2ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_2h.jpg" alt="" title="")
                %span.clr
                %a.vert(href="#portrait5" tabindex=1)
                %span
                  %img(src="slide/pic_3va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_3v.jpg" alt="" title="")
                %a.horiz(href="#portrait6" tabindex=1)
                %span
                  %img(src="slide/pic_3ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_3h.jpg" alt="" title="")
                %a.vert(href="#portrait7" tabindex=1)
                %span
                  %img(src="slide/pic_4va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_4v.jpg" alt="" title="")
                %a.horiz(href="#portrait8" tabindex=1)
                %span
                  %img(src="slide/pic_4ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_4h.jpg" alt="" title="")
                %span.clr
                %a.horiz(href="#portrait9" tabindex=1)
                %span
                  %img(src="slide/pic_5ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_5h.jpg" alt="" title="")
                %a.vert(href="#portrait10" tabindex=1)
                %span
                  %img(src="slide/pic_5va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_5v.jpg" alt="" title="")
                %a.horiz(href="#portrait11" tabindex=1)
                %span
                  %img(src="slide/pic_6ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_6h.jpg" alt="" title="")
                %a.vert(href="#portrait12" tabindex=1)
                %span
                  %img(src="slide/pic_6va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_6v.jpg" alt="" title="")
                %span.clr
                %a.horiz(href="#portrait13" tabindex=1)
                %span
                  %img(src="slide/pic_7ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_7h.jpg" alt="" title="")
                %a.horiz(href="#portrait14" tabindex=1)
                %span
                  %img(src="slide/pic_8ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_8h.jpg" alt="" title="")
                %a.vert(href="#portrait15" tabindex=1)
                %span
                  %img(src="slide/pic_7va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_7v.jpg" alt="" title="")
                %a.vert(href="#portrait16" tabindex=1)
                %span
                  %img(src="slide/pic_8va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_8v.jpg" alt="" title="")

    %li
      %a(href="#nogo")Set 2
      %table
        %tr
          %td
            %ul
              %li
                %a.vert(href="#portrait1" tabindex=1)
                %span
                  %img(src="slide/pic_9va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_9v.jpg" alt="" title="")
                %a.horiz(href="#portrait2" tabindex=1)
                %span
                  %img(src="slide/pic_9ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_9h.jpg" alt="" title="")
                %a.horiz(href="#portrait3" tabindex=1)
                %span
                  %img(src="slide/pic_10ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_10h.jpg" alt="" title="")
                %a.vert(href="#portrait4" tabindex=1)
                %span
                  %img(src="slide/pic_10va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_10v.jpg" alt="" title="")
                %span.clr
                %a.horiz(href="#portrait5" tabindex=1)
                %span
                  %img(src="slide/pic_11ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_11h.jpg" alt="" title="")
                %a.vert(href="#portrait6" tabindex=1)
                %span
                  %img(src="slide/pic_11va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_11v.jpg" alt="" title="")
                %a.vert(href="#portrait7" tabindex=1)
                %span
                  %img(src="slide/pic_12va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_12v.jpg" alt="" title="")
                %a.horiz(href="#portrait8" tabindex=1)
                %span
                  %img(src="slide/pic_12ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_12h.jpg" alt="" title="")
                %span.clr
                %a.horiz(href="#portrait9" tabindex=1)
                %span
                  %img(src="slide/pic_13ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_13h.jpg" alt="" title="")
                %a.horiz(href="#portrait10" tabindex=1)
                %span
                  %img(src="slide/pic_14ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_14h.jpg" alt="" title="")
                %a.horiz(href="#portrait11" tabindex=1)
                %span
                  %img(src="slide/pic_15ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_15h.jpg" alt="" title="")
                %a.horiz(href="#portrait12" tabindex=1)
                %span
                  %img(src="slide/pic_16ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_16h.jpg" alt="" title="")
                %span.clr
                %a.vert(href="#portrait13" tabindex=1)
                %span
                  %img(src="slide/pic_13va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_13v.jpg" alt="" title="")
                %a.vert(href="#portrait14" tabindex=1)
                %span
                  %img(src="slide/pic_14va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_14v.jpg" alt="" title="")
                %a.vert(href="#portrait15" tabindex=1)
                %span
                  %img(src="slide/pic_15va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_15v.jpg" alt="" title="")
                %a.vert(href="#portrait16" tabindex=1)
                %span
                  %img(src="slide/pic_16va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_16v.jpg" alt="" title="")

    %li
      %a(href="#Birds")Set 3
      %table
        %tr
          %td
            %ul
              %li
                %a.horiz(href="#portrait1" tabindex=1)
                %span
                  %img(src="slide/pic_17ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_17h.jpg" alt="" title="")
                %a.vert(href="#portrait2" tabindex=1)
                %span
                  %img(src="slide/pic_17va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_17v.jpg" alt="" title="")
                %a.horiz(href="#portrait3" tabindex=1)
                %span
                  %img(src="slide/pic_18ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_18h.jpg" alt="" title="")
                %a.vert(href="#portrait4" tabindex=1)
                %span
                  %img(src="slide/pic_18va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_18v.jpg" alt="" title="")
                %span.clr
                %a.vert(href="#portrait5" tabindex=1)
                %span
                  %img(src="slide/pic_19va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_19v.jpg" alt="" title="")
                %a.horiz(href="#portrait6" tabindex=1)
                %span
                  %img(src="slide/pic_19ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_19h.jpg" alt="" title="")
                %a.vert(href="#portrait7" tabindex=1)
                %span
                  %img(src="slide/pic_20va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_20v.jpg" alt="" title="")
                %a.horiz(href="#portrait8" tabindex=1)
                %span
                  %img(src="slide/pic_20ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_20h.jpg" alt="" title="")
                %span.clr
                %a.horiz(href="#portrait9" tabindex=1)
                %span
                  %img(src="slide/pic_21ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_21h.jpg" alt="" title="")
                %a.vert(href="#portrait10" tabindex=1)
                %span
                  %img(src="slide/pic_21va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_21v.jpg" alt="" title="")
                %a.horiz(href="#portrait11" tabindex=1)
                %span
                  %img(src="slide/pic_22ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_22h.jpg" alt="" title="")
                %a.vert(href="#portrait12" tabindex=1)
                %span
                  %img(src="slide/pic_22va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_22v.jpg" alt="" title="")
                %span.clr
                %a.vert(href="#portrait13" tabindex=1)
                %span
                  %img(src="slide/pic_23va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_23v.jpg" alt="" title="")
                %a.horiz(href="#portrait14" tabindex=1)
                %span
                  %img(src="slide/pic_23ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_23h.jpg" alt="" title="")
                %a.vert(href="#portrait15" tabindex=1)
                %span
                  %img(src="slide/pic_24va.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_24v.jpg" alt="" title="")
                %a.horiz(href="#portrait16" tabindex=1)
                %span
                  %img(src="slide/pic_24ha.jpg" alt="" title="")
                    %em
                      %img(src="slide/pic_24h.jpg" alt="" title="")