= provide(:title, 'Kadra')

= render 'aboutheader'

.hero-unit#page-about

  %h1 Kadra

  %h2 AGNIESZKA REMISZEWSKA- DYREKTOR

  %p Ukończyłam dzienne jednolite studia magisterskie na Akademii Pedagogiki Specjalnej (kierunek: pedagogika specjalna; specjalności: terapia pedagogiczna oraz pedagogika opiekuńczo-socjalna). Jestem pedagogiem, nie tylko z profesji, ale przede wszystkim z pasji i powołania. Wprowadzanie dzieci w przedszkolny świat łączę z towarzyszeniem dzieciom dotkniętym autyzmem, zespołem Aspergera, dysleksją, ADHD i prowadzeniem z nimi indywidualnych terapii. Nie zapominam również o ich rodzicach i im także proponuję swoje wsparcie.

  .pull-right
    %blockquote
      %p <strong>Moje credo:</strong>
      %p Dziecko może nauczyć dorosłych trzech rzeczy:
      %p cieszyć się bez powodu,
      %p być ciągle czymś zajętym
      %p i domagać się - ze wszystkich sił - tego,
      %p czego pragnie.
      %small
        %cite Paulo Coelho

  %p Bliskie są mi założenia montessoriańskie, dlatego rozpoczęłam Kurs Pedagogiki M. Montessorii. Głęboko wierzę w potencjał tkwiący w małych istotkach, którym towarzyszę oraz w konieczność indywidualizacji podejmowanych działań edukacyjno-wychowawczych. Wiem, jak ważny jest holistyczny rozwój dzieci, dlatego czerpię z różnych metod (m.in. Kinezjologii Edukacyjnej, W. Sherborne, zabaw paluszkowych, Programu Aktywności Słuchowej Knillów, Pedagogiki Zabawy czy muzykoterapii). Kocham muzykę i dzielę się swą pasją z dziećmi, zachęcając je do wspólnego śpiewania. Wierzę, że dzieci są cudownymi przewodnikami po świecie szczerych emocji, prawdziwej radości i niezwykłych pomysłów, dlatego pokornie wybieram się z Nimi w codzienne podróżowanie i odkrywanie świata.
  -# A jakie jest moje pedagogiczne credo? Oto one....
