- description ''
- keywords ''

.hero-unit#page-parent

  %h1= title 'Strefa Rodzica'

- description 'Wszystkie najważniejsze informacje dla rodziców którzy planują wybrać żłobek dla swoich dzieci.'
- keywords    'strefa, rodzic'