- description 'Wykaz wszystkich pobieranych opłat przez żłobek kubusiowy raj, wliczając abonament, jednodniową opiekę, opiekę weekendową czy nadgodziny'
- keywords 'abonament, wekend, jednodniowa, opieka, ryczałt, nadgodziny'

.hero-unit#page-price

  %h1= title 'Opłaty'

  #border-price.toright.border
    %p.small Opłaty należy dokonywać do <nobr>4-ego</nobr> dnia każdego miesiąca na niżej podany adres i nr konta:

    %adress
      %p.small.inline
        %strong Kubusiowy Raj Konrad Zawiślak <br>
        ul. Mazowiecka 24 <br>
        05-502 Bobrowiec <br>
        Nr konta: <br>
        13 19500 00120 06027 90756 0002 <br>
        Bank: IDEA BANK S.A.

  %h2 Wpisowe
  %table.price
    %tr
      %td Jednorazowa opłata wpisowa
      %td 350zł

  %h2 Abonament
  %table.price
    -# %th
    %th
    %th{colspan: 1} Opłata miesięczna
    %th.span2 Ilość godzin
    %tr
      %td pełny abonament
      %td 950zł
      %td 10h dziennie
      -# %td <a href="#ad1">20zł<sup>1</sup></a>
    %tr
      %td 1/2 abonamentu
      %td 650zł
      %td 6h dziennie
      -# %td <a href="#ad2">15zł<sup>2</sup></a>
    %tr
      %td 1/4 abonamentu
      %td 450zł
      %td 3h dziennie
      -# %td <a href="#ad2">15zł<sup>2</sup></a>

  %h2 Wyżywienie
  %p Dzienna stawka żywieniowa wynosi – 12zł
  %p Opłata za niewykorzystany posiłek z powodu nieobecności dziecka podlega odliczeniu tylko w przypadku, gdy najpóźniej do godziny 8:00 danego dnia zostaną o tym fakcie poinformowani opiekunowie, dyrektor lub właściciel żłobka. Brak powiadomienia powoduje naliczenie pełnej opłaty za posiłek.


  %h2 Ubezpieczenie
  %p
    Całoroczne – 30zł.
    -# (w ramach wpisowego)
    -# Polisa ubezpieczeniowa PZU.

  -#%hr

  %h2 Godziny nadliczbowe
  %p Opłata za każdą rozpoczętą godzinę opieki nad dzieckiem przed otwarciem oraz po <nobr>zamknięciu – 20zł.</nobr>
  %p W przypadku abonamentu ½ i ¼ każda nadgodzina kosztuje 15zł.

  %h2 Jednodniowa opieka
  .big
    %p Jednorazowa opieka nad dzieckiem (bez wpisowego) – 100zł, możliwa jest po wcześniejszym uzgodnieniu terminu oraz od wolnych miejsc w danym dniu.

  -#%h3 Oferta weekendowa
  -#%p.big
    Koszt pobytu w żłobku 25zł/godz.
    %br
    Żłobek w weekend czynny w godzinach 8:00 - 18:00,
    po wcześniejszym umówieniu się.

