= provide(:title, 'Opłaty')
%h1 Opłaty

%table
  %tr
    %td Opłata wpisowa
    %td 350 zł

Opłata miesięczna
%table
  %tr
    %td pełny abonament
    %td 950zł
  %tr
    %td 1/2 abonamentu
    %td 650zł
  %tr
    %td 1/4 abonamentu
    %td 450zł

%p W przypadku abonamentu ½ i ¼ każda nadgodzina kosztuje 15 zł.
%p Opłata za każdą rozpoczętą godzinę opieki nad dzieckiem przed otwarciem oraz po zamknięciu – 20 zł

%p
  Jednorazowa usługa oddania dziecka pod opiekę (bez wpisowego, możliwa jeżeli są wolne miejsca):
  .padleft Cały dzień od 6.45 - 18.00 - 100 zł
  .padleft Plus dzienna stawka żywieniowa: 12 zł

%p Opłata za niewykorzystany posiłek z powodu nieobecności dziecka podlega odliczeniu tylko w przypadku, gdy najpóźniej do godziny 8:00 danego dnia zostaną o tym fakcie poinformowane opiekunki, dyrektor lub właściciel żłobka. Brak powiadomienia powoduje naliczenie pełnej opłaty za posiłek.

%h3 Oferta weekendowa
%p
  Koszt pobytu w żłobku 25zł/godz.
  %br
  Żłobek w weekend czynny w godzinach 8:00 - 18:00

%h3 Ubezpieczenie
%p
  Całoroczne – 0 zł <span class="gray">(w ramach wpisowego)</span>
Polisa ubezpieczeniowa PZU
Opłaty należy dokonywać do 4-ego dnia każdego miesiąca na niżej podany adres i nr konta:Kubusiowy Raj Konrad Zawiślak
ul. Mazowiecka 24
05-502 Bobrowiec
Nr konta:
13 19500 00120 06027 90756 0002
Bank: IDEA BANK S.A.