= provide(:title, 'Opłaty')
%h1 Opłaty

%h2 -- nagłówek --

.row
  .center
    %table
      %tr
        %td Opłata wpisowa
        %td 350zł

    %table
      -# %th
      %th
      %th{colspan: 1} Opłata miesięczna
      %th.span2 Nadgodzina
      %tr
        %td pełny abonament
        %td 950zł
        %td <a href="#ad1">20zł<sup>1</sup></a>
      %tr
        %td 1/2 abonamentu
        %td 650zł
        %td <a href="#ad2">15zł<sup>2</sup></a>
      %tr
        %td 1/4 abonamentu
        %td 450zł
        %td <a href="#ad2">15zł<sup>2</sup></a>

    %hr

    %p#ad1
      %sup 1
      Opłata za każdą rozpoczętą godzinę opieki nad dzieckiem przed otwarciem oraz po zamknięciu – 20zł

    %p#ad2
      %sup 2
      W przypadku abonamentu ½ i ¼ każda nadgodzina kosztuje 15zł.


.big
  %p Jednorazowa usługa oddania dziecka pod opiekę (bez wpisowego, możliwa jeżeli są wolne miejsca):

  %p.padleft Cały dzień od 6.45 - 18.00 - 100zł
  %p.padleft Plus dzienna stawka żywieniowa: 12zł

%p.big Opłata za niewykorzystany posiłek z powodu nieobecności dziecka podlega odliczeniu tylko w przypadku, gdy najpóźniej do godziny 8:00 danego dnia zostaną o tym fakcie poinformowane opiekunki, dyrektor lub właściciel żłobka. Brak powiadomienia powoduje naliczenie pełnej opłaty za posiłek.

%h3 Oferta weekendowa
%p.big
  Koszt pobytu w żłobku 25zł/godz.
  %br
  Żłobek w weekend czynny w godzinach 8:00 - 18:00

%h3 Ubezpieczenie
%p.big
  Całoroczne – 0zł <span class="gray">(w ramach wpisowego)</span>

%h3 Polisa ubezpieczeniowa PZU
%p.big Opłaty należy dokonywać do 4-ego dnia każdego miesiąca na niżej podany adres i nr konta:

%adress
  %p
    %strong Kubusiowy Raj Konrad Zawiślak <br>
    ul. Mazowiecka 24 <br>
    05-502 Bobrowiec <br>
    Nr konta: <br>
    13 19500 00120 06027 90756 0002 <br>
    Bank: IDEA BANK S.A.