@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
  background: url("bg.png");
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h3 {
  margin: 1.5em 0 .2em 0 !important;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: justify;
  text-justify: newspaper;
}
:first-line {
    // text-transform: uppercase;
    padding-left: 3.5em !important;
    margin-left: 40px !important;
  }


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
    }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* quotes */

$quoteColorFill: #90b0f0;
$quoteColorQ: #000;
$quoteAlign: 25.3pt;
$quoteColorBorder: #7090df;

blockquote {
  width: 350px;
  // float:right;
  border-left: $quoteColorBorder solid 40px !important;
  background: $quoteColorFill;
  // border-left:10px solid #ccc;
  margin: 0.5em 0px 1.5em 10px;
  padding: .5em 10px;
  quotes:"\201C""\201D""\2018""\2019";
  text-align: left;
  border-radius: 10px;
  p {
    font-family: 'Times New Roman', serif;
    font-size: 15px !important;
    text-align: left;
    &:first-child:before {
      color:$quoteColorQ;
      content:open-quote;
      font-size:4em;
      line-height:.1em;
      margin-right:0.28em;
      vertical-align:-.4em;
      margin-left: -$quoteAlign*1.3 ;
    }
    // &:last-child:after {
    //   color:$quoteColorQ;
    //   content:close-quote;
    //   font-size:4em;
    //   line-height:.1em;
    //   margin-left:0.1em;
    //   vertical-align:-.4em;
    //   margin-left: -$quoteAlign*1.3 ;
    // }
  }
  // > :not(:first-child) {
    // display:inline;
    // margin-left: $quoteAlign ;
  // }
  //
  small{
    text-align: right;
    padding: 0 20px;
    color: #444 !important;
    cite {
      color: #333;
  }
}
}
/* tables */

table {
  margin: 0 0 1em 0;

  th td {

  }
  td:first-child {
    width: 150px;
  }
  th, td {
    min-width: 150px;
    padding-left: 15px;
    text-align:right;
  }
  td:not(:first-child),
    a[href] {
    font-size: $baseLineHeight * 1.5;
  }

  * {
    font-size: 18px;
    font-weight: 200;
    line-height: $baseLineHeight * 1.5;
    color: $heroUnitLeadColor;
  }
}

// mine

.padleft {
  padding-left: 20px;
  margin: 0;
}

.gray {
  color: $grayLight;
  display:inline;
}

.logo {
  text-align: center;
}

.navbar-inner {
  background: url("top.jpg");
  height: 80px;
}

.center {
  margin: 0 0 30px 0;
  text-align: center;
}

.big {
  margin-bottom: 2em;
}

// .justify {
//   text-align: right;
//   // text-justify: inter-cluster ;
// }

.toright {
  float:right;
}