// @import "bootstrap";
@import "compass_twitter_bootstrap";
// @import "compass_twitter_bootstrap_awesome"
// @import "compass_twitter_bootstrap_responsive"


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
// $grayLight: #fff;
// $grayLighter: #fff;
// $gray: #fff;
// $grayDarker: #fff;
// $blue: #fff;
// $baseLineHeight: 18px;
// $heroUnitLeadColor: #fff;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px !important;
  background: url("bg.png");
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,.4);
  & + h2 {
    margin-top: 0px;
  }
}

h2 {
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
  font-size: 2.0em; //  1.7em
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
  margin-top: 1em;
}

h3 {
  margin: 1.5em 0 .2em 0 !important;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: justify;
  text-justify: newspaper;

  :first-line {
    // text-transform: uppercase;
    padding-left: 3.5em !important;
    margin-left: 40px !important;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
    }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* quotes */

$quoteColorFill: #90b0f0;
$quoteColorQ: #000;
$quoteAlign: 25.3pt;
$quoteColorBorder: #7090df;

blockquote {
  width: 350px;
  // float:right;
  border-left: $quoteColorBorder solid 40px !important;
  background: $quoteColorFill;
  // border-left:10px solid #ccc;
  margin: 0.5em 0px 1.5em 10px;
  padding: .5em 10px;
  quotes:"\201C""\201D""\2018""\2019";
  text-align: left;
  border-radius: 10px;
  p {
    font-family: 'Times New Roman', serif;
    font-size: 15px !important;
    text-align: left;
    &:first-child:before {
      color:$quoteColorQ;
      content:open-quote;
      font-size:4em;
      line-height:.1em;
      margin-right:0.28em;
      vertical-align:-.4em;
      margin-left: -$quoteAlign*1.3 ;
    }
    // &:last-child:after {
    //   color:$quoteColorQ;
    //   content:close-quote;
    //   font-size:4em;
    //   line-height:.1em;
    //   margin-left:0.1em;
    //   vertical-align:-.4em;
    //   margin-left: -$quoteAlign*1.3 ;
    // }
  }
  // > :not(:first-child) {
    // display:inline;
    // margin-left: $quoteAlign ;
  // }
  //
  small{
    text-align: right;
    padding: 0 20px;
    color: #444 !important;
    cite {
      color: #333;
  }
}
}
/* tables */

table {
  // margin: 0 0 1em 0;

  &.price{
    td:first-child {
      width: 150px;
    }
    th, td {
      min-width: 150px;
      padding-left: 15px;
      text-align:right;
    }
    td:not(:first-child),
      a[href] {
      font-size: $baseLineHeight * 1.5;
    }

    * {
      font-size: 18px;
      font-weight: 200;
      line-height: $baseLineHeight * 1.5;
      color: $heroUnitLeadColor;
    }
  }
  &.normal {
    margin: 0 50px;
    th {
      text-align: left;
    }
    th, td {
      min-width: 80px;
    }
    td {
      padding: 5px 0;
      text-align: left;
      font-size: $baseLineHeight * 1;
      font-style: italic;
      vertical-align: top;
    }
    p {
      font-style:normal;
      display: block;
      text-align: left;
      margin-left: 1.5em;
      color: gray;
      line-height: $baseLineHeight * 1.2;
      &:before {
        content: "- ";
      }
    }
  }
}

// mine

.padleft {
  padding-left: 20px;
  margin: 0;
}

.gray {
  color: $grayLight;
  display:inline;
}

.logo {
  text-align: center;
}

.navbar-inner {
  background: url("top.jpg");
  height: 80px;
}

.center {
  margin: 0 0 30px 0;
  text-align: center;
}

.big {
  margin-bottom: 2em;
}

// .justify {
//   text-align: right;
//   // text-justify: inter-cluster ;
// }

.toright {
  float:right;
}

.border {
  width: 250px;
  border-left: $quoteColorBorder solid 40px !important;
  background: $quoteColorFill;
  margin: 0.5em 0px 0.5em 10px;
  padding: 0.5em 10px;
  text-align: left;
  border-radius: 10px;
  adress p {
     font-size: 13px !important;
     line-height: 1.3em;
  }
  & > p {
    font-size: 15px !important;
    // text-align: left;
    line-height: 1.3em;
    margin-top: -15px;
  }
  &:before {
    content: "!";
    font-size:3em;
    line-height:0.01em;
    margin-right:0.28em;
    vertical-align:-0.4em;
    margin-left: -$quoteAlign*1.05 ;
  }
}

// animation

.hero-unit {
  animation-duration: 2.5s;
  animation-name: slidein;
  animation-timing-function: ease-out;
  -moz-animation-duration: 2.5s;
  -moz-animation-name: slidein;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-name: slidein;
  -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes slidein {
  from {
    margin-top: 110%;
  }

  to {
    margin-top: 0%;
  }
}

@keyframes slidein {
  from {
    margin-top: 110%;
  }

  to {
    margin-top: 0%;
  }
}

// menu animation
// ul.nav {
//   text-align: center;
//   width: 100%;
// }

@mixin menu_gradient {
}


nav > ul > li {
  font-size: 1.5em;
  border-radius: 5px;
  // border: 4px rgba(255,255,0,0.5) solid;
  margin: 1px 0 0 5px;
  padding: 6px 8px;


// background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50,50,50,0.8)), to(rgba(80,80,80,0.2)), color-stop(.5,#333333));

// background-image: -moz-linear-gradient(bottom, rgba(2,3,3,.1) 4%, rgba(55,214,214,.1) 81%, rgba(83,255,255,.1) 99%, rgba(108,204,204,.1) 100%);
// background-image: -webkit-linear-gradient(bottom, rgba(2,3,3,.1) 4%, rgba(55,214,214,.1) 81%, rgba(83,255,255,.1) 99%, rgba(108,204,204,.1) 100%);

// linear-gradient(linear, left top, left bottom, from(rgba(50,50,50,0.8)), to(rgba(80,80,80,0.2)), color-stop(.5,#333333));

  // background: rgba(40, 150, 255, 0.3);
  // background-image: linear-gradient(bottom, rgba(2,3,3,.1) 4%, rgba(55,214,214,.1) 81%, rgba(83,255,255,.1) 99%, rgba(108,204,204,.1) 100%);
  // background-image: -o-linear-gradient(bottom, rgb(2,3,3) 4%, rgb(55,214,214) 81%, rgb(83,255,255) 99%, rgb(108,204,204) 100%);
  // background-image: -moz-linear-gradient(bottom, rgba(2,3,3,.5) 4%, rgba(55,214,214,.5) 81%, rgba(83,255,255,.5) 99%, rgba(108,204,204,.5) 100%);
  // background-image: -webkit-linear-gradient(bottom, rgb(2,3,3) 4%, rgb(55,214,214) 81%, rgb(83,255,255) 99%, rgb(108,204,204) 100%);
  // background-image: -ms-linear-gradient(bottom, rgb(2,3,3) 4%, rgb(55,214,214) 81%, rgb(83,255,255) 99%, rgb(108,204,204) 100%);

  // background-image: -webkit-gradient(
  //   linear,
  //   left bottom,
  //   left top,
  //   color-stop(0.04, rgb(2,3,3)),
  //   color-stop(0.81, rgb(55,214,214)),
  //   color-stop(0.99, rgb(83,255,255)),
  //   color-stop(1, rgb(108,204,204))
  // );
  //
  // & > a:first-child {
  //   text-shadow: 0px 0px 1px rgba(50,50,50,.4) !important;
  //   font-weight: 800;
  //   color: #aaa !important;
  // }
  // & > a:first-child:hover {
  //   color: white !important;
  //   text-shadow: 0px 0px 3px rgba(0,0,0,1) !important;

  // }

}

// ul.nav li
// {
//   -webkit-transition: opacity 1s ease-in-out;
//   -moz-transition: opacity 1s ease-in-out;
//   -o-transition: opacity 1s ease-in-out;
//   transition: opacity 1s ease-in-out;
// }


// ul.nav li
// {
//     -webkit-animation-name: pulse;
//     -webkit-animation-duration: 1s;
//     animation-name: pulse;
//     animation-duration: 1s;
//     // -webkit-animation-iteration-count: infinite;
//     // -webkit-animation-timing-function: ease-in-out;

// @-webkit-keyframes pulse {
//    0%   { -webkit-transform:rotate(0deg);}
//    25%  { -webkit-transform:rotate(90deg);}
//    50%  { -webkit-transform:rotate(180deg);}
//    75%  { -webkit-transform:rotate(270deg);}
//    100%  { -webkit-transform:rotate(360deg);}
//   }
// @keyframes pulse {
//    0%   { transform:rotate(0deg);}
//    25%  { transform:rotate(90deg);}
//    50%  { transform:rotate(180deg);}
//    75%  { transform:rotate(270deg);}
//    100%  { transform:rotate(360deg);}
//   }

ul.list {
  before: "\2013";
}

#box {
  float:right;
  background: #f4f4f4;
  border: 1px solid #bbbbbb;
  width: 404px;
  height: 404px;
  // margin: 60px auto;
  position: relative;

  &:before {
    border: 1px solid white;
    content: '';
    width: 402px;
    height: 402px;
    position: absolute;
  }

  &:after {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    border: 1px solid #bbbbbb;
    left: 1px; top: 1px;
  }
}

#boxsimple {
  float:right;
  background: #f4f4f4;
  border: 1px solid #bbbbbb;
  width: 400px;
  height: 400px;
}

// address strong {
//   width: 100px;
//   display:block;
// }

address {
  .tab {
    width: 300px;
  }
  p {
    margin-bottom: 20px;
  }
}

.tab {
    width: 300px;
    display: inline;
  }

// a {
//  display: block;
// }

// a[title]:hover:after{
//  display: block;
//  content: attr(title);
//  font-size:10px;
//  text-decoration: underline;
// }


// li > a[title]:after {
//   content: attr(title);
//   position: absolute;
//   top: 100%;
//   // left: -10%;
// }

a[title]:hover:after {
  // animation-duration: 1s;
  // animation-name: slidein;
  // -webkit-animation-duration: 3s;
  // -webkit-animation-name: slidein;
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0px;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

// a[href]:hover:after {
//   content: attr(href);
//   margin-bottom: .5em;
//   font-size: .5em;
//   position: absolute;
//   top: -.5em;

// }