// $blueprint-grid-columns : 24;
// $blueprint-grid-width   : 30px;
// $blueprint-grid-margin  : 10px;
// $font-color             : #333;

// @import "compass/reset";
// @import "compass/utilities";
// @import "blueprint";

// @import "bootstrap";
// @import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_awesome";
@import "compass";
// @import "compass/css3/gradient";
// @import "compass_twitter_bootstrap_responsive"


$mainmenuheight: 150px;

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
// $grayLight: #fff;
// $grayLighter: #fff;
// $gray: #fff;
// $grayDarker: #fff;
// $blue: #fff;
// $baseLineHeight: 18px;
// $heroUnitLeadColor: #fff;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin add_gradient_sat($color1) {
  @include background(linear-gradient(
    bottom,
    $color1 0%,
    fade-out(darken($color1, 40%),.4)
    )
  );
  // @include transition(500ms background-image);
}


@mixin add_gradient_bg($url, $color){
  $position: 50% 0 no-repeat;
  background:
    url($url) $position,
    fade-out(desaturate($color,30%),.3);
  @include background(
    image-url($url) $position,
    linear-gradient(
      left bottom,
      fade-out(desaturate($color,30%),.3) 0%,
      darken(fade-out(desaturate($color,30%),.3),40%) 100%
    )
  );
  &:hover {
    $position: 50% 0 no-repeat;
    background:
      url($url) $position,
      $color;
    @include background(
      image-url($url) $position,
      linear-gradient(
        left bottom,
        $color 0%,
        darken($color, 40%)
      )
    )
  }
}
// $ifdark: dark;
@mixin insetshadow($color,$strenght,$ifdark: dark,$fill: 30px) {
  // @include box-shadow(inset 0 0 30px 1px $color);

  @if $ifdark == dark {
    @include box-shadow(inset 0 0 $fill
      fade-out(
        darken($color,20%)
      ,$strenght)
    );
  }
  @else{
    @include box-shadow(inset 0 0 $fill
      fade-out(
        lighten($color,20%)
      ,$strenght)
    );
  }
}

$mix: 30%;
@mixin menu($url,$color){
  @include add_gradient_bg($url,$color);
  @include insetshadow($color,.7);
  &.selected {
    @include add_gradient_bg($url,lighten($color,$mix));
    @include insetshadow($color,.2,lol);
  }
}

/* universal */

html {
  overflow-y: scroll;
  min-height: 100%;
}

body {
  padding-top: $mainmenuheight !important; // 40
  // background: url("bg.png");
  color: #111;

  // @include background-image(linear-gradient(top, #7a94ff 20%, #CED099 99%));
  @include background-image(linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%));

  // .hero-unit >  :first-child {
  //   padding-top: 0px; // 50px
  // }
}

/* main menu */
.navbar-fixed-top  {
  // @include background-image(linear-gradient(top,
  //   rgba(122, 148, 255,1) 50px,
  //   rgba(122, 148, 255,.9) 90px,
  //   rgba(122, 148, 255,0) 100%
  //   )
  // );
  @include background-image(linear-gradient(top,
    rgb(31,71,120) 50px,
    rgba(31,71,120,.7) 90px,
    rgba(31,71,120,.0) 100%
    )
  );
  height: $mainmenuheight;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
    margin-top: 0;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

$h2color: #eee;

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,.4);
  & + h2 {
    margin-top: 0px;
  }
}

h2{
  &, sup {
    text-shadow:
      0px 0px 1px rgba(0,0,0,.7),
      2px 2px 2px rgba(0,0,0,.2)
    ;
  }
  font-size: 2.0em; //  1.7em
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $h2color;
  // color: $grayLight;
  margin-top: 1em;
}

h3 {
  margin: 1.5em 0 .2em 0 !important;
}

p {
  // &::first-line {
  //   font-variant: small-caps;
  // }
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: justify;
  text-justify: newspaper;

  // :first-line {
  //   text-transform: uppercase;
  //   padding-left: 3.5em !important;
  //   margin-left: 40px !important;
  // }

   text-indent: 30px;
   margin-bottom: 20px;
}
table p, address p, blockquote p, .row p, .small, p i {
  text-indent: 0;
  line-height: 1em;
  text-align: left;
  margin: 0;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
    }
}

/* footer */

footer {
  * {
    vertical-align: bottom;
  }
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: darken($grayLight,35%);
  a {
    color: darken($gray,30%);
    &:hover {
      color: lighten($grayDarker,10%);
    }
  }
  small {
    float: left;
  }
  .center {
    float: none;
    margin: 0 20%;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 5px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}
input[type="button"] {
  width: 100%;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* quotes */

@mixin block($width,$sign: "open-quote",$signsize: "5em",$signalign: "1.32"){
  width: $width;
  border-left: $quoteColorBorder solid 40px !important;
  background: $quoteColorFill;
  margin: 0.5em 0px 0.5em 20px;
  padding: 0.5em 10px;
  text-align: left;
  @include border-radius(10px);
  &:before {
    font-family: 'Times New Roman', serif;
    content: $sign;
    font-size: $signsize;
    line-height:0.01em;
    margin-right:0.28em;
    vertical-align:-0.6em;
    // margin-left: $signalign * -25.3pt;
  }
}

$quoteColorFill: #90b0f0;
$quoteColorQ: #000;
$quoteAlign: 25.3pt;
$quoteColorBorder: #7090df;

blockquote {
  @include insetshadow(#fff,.7);
  @include block(335px,open-quote,"3em","1.32");
  quotes:"\201C""\201D""\2018""\2019";
  &:before {
    font-family: 'Times New Roman', serif;
    // content: ;
    font-size:5em;
    line-height:0.01em;
    margin-right:0.28em;
    vertical-align:-0.6em;
    margin-left: -25.3pt * 1.32 ;
  }
  p {
    font-family: 'Times New Roman', serif;
    font-size: 1.3em;
    margin-top: -30px;
  }
  small{
    text-align: right;
    padding: 0 20px;
    color: #444 !important;
    cite {
      color: #333;
    }
  }
}

.border {
  @include block(250px,"!","10em","1.05");
  adress p {
     font-size: 13px !important;
     line-height: 1.3em;
  }
  & > p {
    font-size: 15px !important;
    // text-align: left;
    line-height: 1.3em;
    margin-top: -15px;
  }
  &:before {
    // content: "!";
    font-size:3em;
    // line-height:0.01em;
    // margin-right:0.28em;
    // vertical-align:-0.4em;
    margin-left: -$quoteAlign*1.05 ;
  }

  &.phone:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f095";
    // content: "lol";
    // display: inline-block;
    text-decoration: inherit;
  }
}
#border-price {
  @include block(230px,"!","10em","1.05");
}
/* tables */

table {
  // margin: 0 0 1em 0;

  &.price{
    td:first-child {
      width: 150px;
    }
    th, td {
      min-width: 150px;
      padding-left: 15px;
      text-align:right;
    }
    td:not(:first-child),
      a[href] {
      font-size: $baseLineHeight * 1.5;
    }

    * {
      font-size: 18px;
      font-weight: 200;
      line-height: $baseLineHeight * 1.5;
      color: $heroUnitLeadColor;
    }
  }
  &.plan {
    margin: 0 50px;
    th {
      text-align: left;
      font-size: $baseLineHeight * .9;
    }
    th, td {
      min-width: 80px;
    }
    td {
      padding: 10px 0;
      text-align: left;
      font-size: $baseLineHeight * 1;
      // font-style: italic;
      vertical-align: top;
    }
    p {
      font-style:normal;
      display: block;
      text-align: left;
      margin-left: 1.5em;
      color: gray;
      line-height: $baseLineHeight * 1.2;
      &:before {
        content: "- ";
      }
    }
    td:nth-child(3) {
      letter-spacing: .1em;
    }
    ul {
      color: gray;
      // margin: 10px 0 20px 2em;
      li {
        margin: 7px 0;
        letter-spacing: .08em;
        // text-shadow:
          // 0 0 2px fade-out(#000,.0)
          // 0 0 1px fade-out(#fff,.0)

          // 0px 0px 1px fade-out(#fff,.0),
          // 0px 0px 2px fade-out(#fff,.0)

          // 1px 1px 1px fade-out(#000,.5),
          // 1px 1px 3px fade-out(#000,.5),
          // 1px 1px 4px fade-out(#000,.5)
        // ;
        // text-shadow:
        //   0px 0px 1px rgba(0,0,0,.9),
        //   0px 0px 1px rgba(0,0,0,.9),
        //   0px 0px 2px rgba(0,0,0,.9),
        //   0px 0px 3px rgba(255,255,255,.9)
        // !important;
        // &.eat     {color: #db2;}
        &.eat     {color: darken(#e33,10%);}
        &.self    {color: darken(#2a2,10%);}
        &.toilet  {color: darken(#88f,10%);}
        &.monte   {color: darken(#a4a,10%);}
        &.sleep   {color: darken(#0aa,10%);}
        &.group   {color: darken(#c6a,10%);}
      }
    }
  }
  &.program {
    margin-bottom: 2em;
    td:first-child {
      width: 150px;
    }
    thead tr{
      border: 1px black !important;
      @include box-shadow(1px 0 1px 1px black);
      // background: red !important;
    }
    th, td {
      min-width: 200px;
      padding-left: 15px;
      text-align:right;
    }
    td:not(:first-child){
      font-size: $baseLineHeight * 1.2;
    }

    * {
      font-size: $baseLineHeight * 1.3;
      font-weight: 200;
      line-height: $baseLineHeight * 1.7;
      color: $heroUnitLeadColor;
    }
  }
  &#contact {
    td:first-child {
      width: 130px;
    }
    margin-bottom: 22px;
  }
}

// #contact_link {
//   text-align: center;
// }

// mine

.padleft {
  padding-left: 20px;
  margin: 0;
}

// .gray {
//   color: darken($grayLight,20%);
//   display:inline;
// }

.logo {
  text-align: center;
}

.center {
  margin: 0 0 30px 0;
  text-align: center;
}

.big {
  margin-bottom: 2em;
}

// .justify {
//   text-align: right;
//   // text-justify: inter-cluster ;
// }

.toright {
  float:right;
}

// animation

// $default-transition-property : all;
// $default-transition-duration : 1s;
// $default-transition-function : false;
// $default-transition-delay    : false;

.hero-unit {
  @include border-radius(10px);
  *:not(h1):not(h2):not(input):not(.btn):not(li):not(ul):not(td):not(tr):not(tbody):not(table):not(sup) {
    text-shadow: 0 0 2px fade-out(#fff,.5),1px 1px 1px fade-out(#fff,.7);
  }
  // @include insetshadow();
  // @include transition-duration(2.5s);
  // @include transition-timing-function(ease-out);
  // @include animation-name(slidein);
  // animation-name: slidein;
  // -moz-animation-name: slidein;
  // -webkit-animation-name: slidein;
  // @include transition(slidein);
}

// @-webkit-keyframes slidein {
//   from {
//     margin-top: 110%;
//   }

//   to {
//     margin-top: 0%;
//   }
// }

// @keyframes slidein {
//   from {
//     margin-top: 110%;
//   }

//   to {
//     margin-top: 0%;
//   }
// }

ul.list {
  before: "\2013";
}

// #box {
//   float:right;
//   background: #f4f4f4;
//   border: 1px solid #bbbbbb;
//   width: 404px;
//   height: 404px;
//   // margin: 60px auto;
//   position: relative;

//   &:before {
//     border: 1px solid white;
//     content: '';
//     width: 402px;
//     height: 402px;
//     position: absolute;
//   }

//   &:after {
//     content: '';
//     position: absolute;
//     width: 400px;
//     height: 400px;
//     border: 1px solid #bbbbbb;
//     left: 1px; top: 1px;
//   }
// }



@mixin box($width, $height: $width, $style: 1px solid #bbb, $float: right) {
  float: $float;
  background: #f4f4f4;
  border: $style;
  width: $width;
  height: $height;
}

#box-map {
  @include box(400px);
}

#box-crew {
  $width: 160px;
  @include box($width,$width * 1.28125,2px solid #bbbbbb,left);
  margin: 0px 20px 0px 0px;
}
// address strong {
//   width: 100px;
//   display:block;
// }

address, .border {
  .tab {
    width: 300px;
  }
  p {
    margin-bottom: 20px;
  }
}

.halfopacity {
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}

@mixin background-round($padding: 6px 4px 4px 3px, $margin: 3px,$radius: 6px){
  color: black;
  background-color: lighten(fade-out(#fff,.8),.4);
  padding: $padding;
  font-size: .9em;
  margin: $margin;
  @include border-radius($radius);
  text-decoration: none;
}

span[title].inline:after {
  content: attr(title);
  @include background-round();
}

.round {
  @include background-round(6px,0);
}

a.inline,
:target {
  padding-top: $mainmenuheight;
  display:inline;
}
// :target:before {
//   padding-top: 5000px;
// }

// a[title]:hover:after {
//   content: attr(title);
//   position: absolute;
//   top: 100%;
//   left: 0px;
// }

/* vertical menu */

// @mixin add_gradient($color1: rgba(31,169,244, 0.8), $color2: rgba(0,28,78, .4)) {
//   // @include background(radial-gradient(
//   //     center -80px,
//   //     $color1 0%,
//   //     $color2 100%
//   //     )
//   // );
//   @include background(linear-gradient(
//     left bottom,
//     fade-out(desaturate($color1,30%),.3) 0%,
//     // fade-out(desaturate($color2,30%),.3) 100%
//     darken(fade-out(desaturate($color1,30%),.3),40%) 100%
//     )
//   );
//   &:hover {
//     @include add_gradient_sat($color1);
//   }
// }

$color_about:   rgb( 31, 169, 244);
$color_parent:  rgb(237, 104, 237);
$color_dayplan: rgb(237, 131, 140);
$color_price:   rgb(237, 164, 74);
$color_gallery: rgb(237, 244, 104);
$color_contact: rgb(104, 237, 104);

$menu-about-bg: "menu_klapouchy.png";
$menu-parent-bg: "menu_hefalump.png";
$menu-plan-bg: "menu_kangurzyca.png";
$menu-price-bg: "menu_tygrysek.png";
$menu-photos-bg: "menu_krolik.png";
$menu-contact-bg: "menu_kubus.png";

$bg_main: "bg_main.png";
$bg_about: "bg_klapouchy.png";
$bg_parent: "bg_hefalump.png";
$bg_plan: "bg_kangurzyca.png";
$bg_price: "bg_tygrysek.png";
$bg_photos: "bg_krolik.png";
$bg_contact: "bg_kubus.png";

nav .main { // nv => margin: 0 auto;
  // margin: 10px 0px !important;
  // height: 250px;
  width: 100%;
  // height: 100%;
  & > li {
    &:nth-child(odd) a{
      @include border-radius(10px 0px 0px 10px);
    }
    &:nth-child(even) a{
      @include border-radius(0 10px 10px 0);
      margin-right:30px;
    }
    &:last-child a {
      margin-right: 0;
    }
    // &:not(:first-child) {
    //   margin-left: 1px;
    // }
    width: 16.5% !important;
    // height: 200px !important;
    // margin: 0 3%;
    & > a {
      height: 50px;
      vertical-align: center;
      // text-align: left;
      // box-shadow:
      //   1px 1px 3px 0px rgba(0,0,0,.5),
      //   0 0 0 1px rgba(0,0,0,.5);
      // color: #ddd !important;
      font-size: 1.88em;
      // // padding: 20px 21px 10px !important;
      // padding: 0 21px !important;
      padding-top: 50px !important;
      // padding-bottom: 70px !important;
      // padding-top: 80%;
      text-shadow:
        0px 0px 2px rgba(0,0,0,.7),
        0px 0px 1px rgba(0,0,0,.5) !important;
      font-weight: 800;
      @include transition(
        // 300ms padding ease-in,
        // 500ms margin ease-out,
        // 3000ms background,
        3000ms background-image,
        200ms color,
        200ms -webkit-transform,
        100ms border-radius
        );
      position: relative;
      z-index: 1;
      // // @include add_gradient();
      @include transform(translate(0,0));
      &:hover {
        z-index: 1000;
        @include transform(translate(0,0px) scale(1.2));
        color: #fff !important;
        @include border-radius(10px);
        // background-opacity: .5;
        // margin-top: 10px;
        // padding-bottom: 50px;
        // margin-top: -20px;
        @include transition(
          // 300ms padding ease-in,
          // 500ms margin ease-out,
          // 700ms background,
          700ms background-image,
          200ms color,
          1200ms -webkit-transform,
          100ms border-radius
          );
        // padding-top: 80px !important;
      }
      &#menu-about {
        @include menu($menu-about-bg,$color_about);
      }
      &#menu-parent {
        @include menu($menu-parent-bg,$color_parent);
      }
      &#menu-plan {
        @include menu($menu-plan-bg,$color_dayplan);
      }
      &#menu-price {
        @include menu($menu-price-bg,$color_price);
      }
      &#menu-photos {
        @include menu($menu-photos-bg,$color_gallery);
      }
      &#menu-contact {
        @include menu($menu-contact-bg,$color_contact);

      }
    }

  }
}

$submenu_bg: #7A94FF;
.up {
  width: 100%;
  margin: 0 0 62px 0;
  padding: 0;
  nav, ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  li:not(:first-child) {
    margin-left: 8px;
  }
  a {
    background-color: lighten(fade-out(#fff,.9),.4);
    @include insetshadow($color_about,.5);
    padding: 1em .6em  !important;
    font-size: 1.3em;
    color: white;
    @include border-radius(10px);
    text-decoration: none;
    color: white;
    width: 188px; // 205
    text-align: center;
    @include transition(.5s background);
    &:hover {
      background-color: lighten(fade-out(#fff,.6),.4) !important;
      @include border-radius(10px);
      @include insetshadow($color_about,.3);
      text-decoration: none;
      @include transition(.5s background);
    }
  }
  li:first-child a {
    width: 270px;
  }
  li a.selected {
    background-color: lighten(fade-out(#fff,.7),.4) !important;
    color: white !important;
    @include insetshadow($color_about,.4,lol);
  }
//   // height: 0px;
  // @include add_gradient_sat($submenu_bg);
//   // nav {
//   //   margin: 20px 0 0 0 ;
//   // }
//   a {
//     color: #ddd !important;
//     font-size: 1.4em;
//     @include border-radius(6px);
//     // border: black 10px  !important;
//     // padding: 20px 21px 10px !important;
//     padding: 14px 15px !important;
//     text-shadow:
//       0px 0px 2px rgba(0,0,0,.7),
//       0px 0px 1px rgba(0,0,0,.5) !important;
//     font-weight: 800;
//     // @include add_gradient();

//     &:hover {
//       color: #fff !important;
//       background-opacity: .5;
//     }
//   }
}

@mixin herobg($color, $bgimg){
  background:
    saturate(
      fade-out(
        lighten(
          $color
        ,25%)
      ,0.5)
    ,20%)
    url($bgimg)
    1% 97% no-repeat;
  background-size: auto 200px;
  // opacity: .3;
  @include insetshadow($color,.6);
  h1 {
    color: lighten(desaturate($color,20%),20%);
  }
}
$color_home: lighten(#ff0,10%);
#page-home {@include herobg($color_home,$bg_main );}
#page-about {@include herobg($color_about,$bg_about);}
#page-parent {@include herobg($color_parent,$bg_parent);}
#page-dayplan {@include herobg($color_dayplan,$bg_plan);}
#page-price {@include herobg($color_price,$bg_price);}
#page-gallery {@include herobg($color_gallery,$bg_photos);}
#page-contact {@include herobg($color_contact,$bg_contact);}

// a[title] {
//   &:after {
//     opacity: 0;
//     @include transition(1500ms opacity);
//   }
//   &:hover {
//     position: relative;
//     opacity: 1;
//     &:after {
//       font-size: $baseLineHeight ;
//       z-index: 255;
//       opacity: 1;
//       content: attr(title);
//       padding: 6px 10px;
//       margin: 10px -3em -3em 0;
//       color: #333;
//       position: absolute;
//       left: 0;
//       top: 100%;
//       white-space: nowrap;
//       z-index: 20px;
//       text-shadow: 0 0 0 rgba(0,0,0,0);
//       @include transition(1500ms opacity);
//       @include box-shadow(0px 0px 4px #222);
//       @include border-radius(5px);
//       @include background(
//         linear-gradient(
//           top,
//           #eeeeee,
//           #cccccc
//         )
//       );
//     }
//   }
// }

// #page-gallery {

//   @media screen and (min-width: 400px) {

//     .gallery {
//       position: relative;
//       width: 600px;
//       height: 300px;
//       // overflow: hidden;
//       * { z-index: 100; }
//     }
//     article {z-index: 0;}
//     .target {
//       z-index: 0;
//       position: absolute;
//       // top: 60px;
//       left: -330px;
//       height: 0px;
//       width: 300px;
//       -webkit-transition: 1s;
//          -moz-transition: 1s;
//           -ms-transition: 1s;
//            -o-transition: 1s;
//               transition: 1s;

//     }
//     .target:target {
//       top: 60px;
//       left: 20px;
//     }
//   }
// }

// span in link_to block or in safed first argument
a:not(addthis_button_google_follow at300b) {
  &:hover span,
  &:focus span{
    @include transition(.5s all ease-in-out);
    @include transform(scale(1));
    opacity:1;
    display: block;
  }
  span:not(.addthis_follow_label) {
    position:absolute;
    margin-top:23px;
    margin-left:-35px;
    color:#09c;
    background:rgba(0,0,0,.9);
    padding:10px;
    @include border-radius(3px);
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transition:all .25s;
    opacity:0;
    @include transition(1s all ease-in-out);
    // display: none;
    @include transform(scale(0));
    &:before{
      content: '';
      position: absolute;
      top: -6px;
      left: 10px;
      width: 0;
      height: 0;
      border-bottom: 6px solid rgba(0,0,0,.9);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
  }
}

.image {
  @include box-shadow(
    0px 0px 4px #222,
    1px 1px 2px #000
    );
  margin: 10px;
  width: 250px;
  height: auto;
}

// #page-gallery {
//   ul{
//     margin:80px 100px;
//     position:relative;
//     float:left;
//     background:transparent;
//   }
//   ul li{
//     position:relative;
//     width:150px;
//     height:100px;
//     padding:10px;
//     list-style:none;
//     float:left;
//   }
//   ul li:nth-child(4n){
//     clear:left;
//   }
//   ul li a{
//     display:block;
//     width:150px;
//     height:100px;
//     text-decoration:none;
//     color:white;
//     margin-top:0px;
//     margin-left:0px;
//     border:0px solid rgba(0,0,0,0.7);
//     @include transition-property(width,height,margin,z-index,border);
//     @include transition-duration(0.4s);
//   }
//   ul li a:hover{
//     position:absolute;
//     width:300px;
//     height:200px;
//     border:6px solid rgba(0,0,0,0.7);
//     @include box-shadow(
//       0px -1px 0px rgba(255,255,255,0.6),
//       0px 1px 0px black);
//     @include border-radius(8px);
//     margin-top:-56px;
//     margin-left:-56px;
//     z-index:100;
//     overflow:hidden;
//   }

//   ul li a img.bigImg{
//     opacity:1;
//     position:absolute;
//     width:150px !important;
//     height:100px !important;
//     z-index:20;
//     @include box-shadow(0px 0px 5px rgba(0,0,0,0.6));
//     @include transition-duration(
//       0.4s);
//     @include transition-property(      width,height,z-index);
//   }
//   ul li a:hover img.bigImg{
//     width:300px !important;
//     height:200px !important;
//     z-index:100;
//   }
//   ul li a strong{
//     position:absolute;
//     bottom:-30px;
//     opacity:0;
//   }
//   ul li a:hover strong{
//     opacity:1;
//     bottom:0px;
//     @include transition(bottom 0.3s ease 0.4s);
//     left:0px;
//     width:190px;
//     height:17px;
//     padding:5px;
//     background:rgba(0,0,0,0.8);
//     margin-top:-30px;
//     z-index:150;
//   }
// }


// #article21{height:400px;font-family:"Trebuchet MS",sans-serif;font-size:0.9em;
//     background:#555;
//     background:-webkit-gradient(linear,left top,left bottom,from(#333),to(#777));
//     background:-moz-linear-gradient(top,#333,#777);
//     }
//     #article21 ul{margin:80px 100px;position:relative;float:left;background:transparent;}
//     #article21 ul li{position:relative;width:100px;height:100px;padding:10px;list-style:none;float:left;}
//     #article21 ul li:nth-child(4n){clear:left;}
//     #article21 ul li a{display:block;width:100px;height:100px;text-decoration:none;color:white;margin-top:0px;margin-left:0px;
//     border:0px solid rgba(0,0,0,0.7);
//     -webkit-transition-property:width,height,margin,z-index,border;-webkit-transition-duration:0.4s;
//     -moz-transition-property:width,height,margin,z-index,border;-moz-transition-duration:0.4s;
//     -o-transition-property:width,height,margin,z-index,border;-o-transition-duration:0.4s;
//     }
//     #article21 ul li a:hover{position:absolute;width:200px;height:200px;border:6px solid rgba(0,0,0,0.7);
//     -webkit-box-shadow:0px -1px 0px rgba(255,255,255,0.6),0px 1px 0px black;
//     -moz-box-shadow:0px -1px 0px rgba(255,255,255,0.6),0px 1px 0px black;
//     box-shadow:0px -1px 0px rgba(255,255,255,0.6),0px 1px 0px black;
//     -webkit-border-radius:8px;
//     -moz-border-radius:8px;
//     border-radius:8px;
//     margin-top:-56px;margin-left:-56px;z-index:100;overflow:hidden;
//     }

.aimg {
  @include transition(
    1s -webkit-transform,
    1s -moz-transform,
    1s -o-transform,
    1s -ms-transform,
    1s transform,
    1s width,
    1s height
  );
  // @include transform(scale(1));
  z-index:1;
}

.aimg :hover {
  z-index:255;
  @include transition(1.4s all);
  @include transform(scale(1.3));
  // width: 640 !important;
  // height: 480 !important;
}

// a {
//   @include transition(1.25s background);
// }

// a:hover {
//   color: #115f8d;
//   background: rgba(12, 48, 80, 0.1);
//   background: #b0b8bf 9;

//   @include transition(1.25s background cubic-bezier(0.25, 0.1, 0.25, 1));
//   text-decoration: none;
//   padding: 10 14px !important;
//   @include border-radius(4px);
//   background-origin: padding-box;
//   background-size: auto;
//   background-clip: border-box;
// }

q {
  font-style: italic;
  &:before {content: "„" ;}
  &:after  {content: "”" ;}
}


.addthis_toolbox {
  display: inline !important;
  // left:110px;
  top: $mainmenuheight;
  margin-left: -53px;
  background: fade-out(#fff,.7) ;
  @include transition(.5s opacity);
  :hover {
    @include transition(.5s opacity);
  }
}


#page-parent,
#page-about {
  // .download {
  //   margin-left: 120px !important;
  //   padding-left: 120px !important;
  // }
  li {
    list-style: none !important;
    list-style-type: none !important;
    padding: 2px 4px;
    // margin: 0;
  }
  .downloadlink {
    font-size: 2em !important;
    line-height: 1em ;
  }
  a[data-prefix] {
    margin-left: 170px;
  }
  a[data-prefix]:before {
    @include background-round();
    content: attr(data-prefix);
    font-size: .5em;
    width: 2em;
    color: #555;
    @include insetshadow(#fff,.5,light,10px);
    font-variant: small-caps;
    // position: absolute;
    // left: -30px;
    top: 100%;
    left: 90%;
  }
}

hr {
  color: fade-out(#fff,.8);
  border-color: fade-out(#fff,.8);
}

#page-gallery {
  min-height: 580px !important;
}